@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-title: 'Honk', system-ui;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(254, 194, 126);
  padding: 20px;
}

.portfolio {
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (max-width: 500px) {
    padding: 15px;
  }
}

.title {
  font-family: var(--ff-title);
  text-align: center;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  cursor: pointer;
  color: rgb(254, 194, 126);
}

.link:active {
  cursor: pointer;
  color: rgb(81, 49, 15);
}

